<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Modify Client</title>
</head>
<body>

<form th:action="@{/add/client}" th:object="${client}" method="POST">

  <label for="id">Id:</label><br>
  <input type="text" th:value="${client.getID() }" th:field="*{ID}"><br>
  
  <label for="name">Name:</label><br>
  <input type="text" th:value="${client.getName() } " th:field="*{Name}"><br>
  
  <label for="address">Address:</label><br>
  <input type="text" th:value="${client.getAddress() }" th:field="*{Address}"><br>
  
  <label for="phone">Phone:</label><br>
  <input type="text" th:value="${client.getPhone() }" th:field="*{Phone}"><br>
  
  <label for="balance">Balance:</label><br>
  <input type="text" th:value="${client.getBalance() }" th:field="*{Balance}"><br>
  
  <label for="subscription_type">Subscription Type:</label><br>
  <input type="text" th:value="${client.getSubscriptionType() }" th:field="*{SubscriptionType}"><br>
  
  <label for="extra_charges_type">Extra Charges Type:</label><br>
  <input type="text" th:value="${client.getExtraChargesType() }" th:field="*{ExtraChargesType}"><br>
  
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
