<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Clients</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="header">
		<div role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/table/clients">All Clients</a></li>
				<li><a href="/table/subscriptions">Subscription</a></li>
				<li><a href="/table/extra_charges">Extra Charges</a></li>

			</ul>
		</div>
	</header >

	<div class="border">
		<div>
			<table class="table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Balance</th>
						<th>Subscription Type</th>
						<th>Extra Charges Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${clients}">
						<td th:text="${client.getID() }" />
						<td th:text="${client.getName() }" />
						<td th:text="${client.getAddress() }" />
						<td th:text="${client.getPhone() }" />
						<td th:text="${client.getBalance()}" />
						<td><span th:if="${client.getSubscriptionType() == 1 }">Premium</span>
							<span th:unless="${client.getSubscriptionType() == 1 }">Standard</span>
						</td>
						<td><span th:if="${client.getExtra_ChargesType() == 1 }">Premium</span>
							<span th:unless="${client.getExtra_ChargesType() == 1 }">Standard</span>
						</td>
						<td><a th:href="@{/modify/client(id=${client.getID()})}">Modify</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>