<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Cronos</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<div role="navigation" class="wrapper">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" class="navbar-brand">Home</a></li>
				
				<li><a href="#">Servicies</a>
					<ul class="ul-inside">
						<li><a href="/table/clients">All Clients</a></li>
						<li><a href="/table/subscriptions">Subscription</a></li>
						<li><a href="/table/extra_charges">Extra Charges</a></li>
						<li><a href="/table/cdr">CRD</a></li>
					</ul>
				</li>
				<li><a href="/simulate">Simulate Charger</a></li>
				<li><a href="/invoice">Invoice</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<span class="msgCronos">Cronos page</span>
	
	<span class="msgInfoCronos" th:text="${'You have '+callMinutes+' minutes, '+smsRemaining+ 'SMS, ' 
		+ networkMinutesRemaining + ' network minutes, ' + networkSmsRemaining + ' network sms, '
		+ trafficRemaining + ' internet traffic'}"></span>
	
	<span class="msgSubscriptionPay" th:text="${subscriptionPay }"></span>
	<span class="msgSubscriptionTypeCronos" th:text="${subType }"></span>
	
	</body>
</html>