<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Extra Chargeses</title>
<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div role="navigation" class="wrapper">
			<ul class="nav navbar-nav">
				<li><a href="/" class="navbar-brand">Home</a></li>
				
				<li class="active"><a href="#">Servicies</a>
					<ul class="ul-inside">
						<li><a href="/table/clients">All Clients</a></li>
						<li><a href="/table/subscriptions">Subscription</a></li>
						<li><a href="/table/extra_charges">Extra Charges</a></li>
						<li><a href="/table/cdr">CRD</a></li>
					</ul>
				</li>
				<li><a href="/simulate">Simulate Charger</a></li>
				<li><a href="/invoice">Invoice</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>

	<div class="border">
		<div>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Client Id</th>
						<th>Call</th>
						<th>SMS</th>
						<th>Network Call</th>
						<th>Network SMS</th>
						<th>Internet Traffic</th>
						<th>Extra Charges Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="extra: ${extra_charges}">
						<td th:text="${extra.getID() }" />
						<td th:text="${extra.getClientId()}" />
						<td th:text="${extra.getCall()+' min' }" />
						<td th:text="${extra.getSMS()+' SMS' }" />
						<td th:text="${extra.getNetworkCall()+' min' }" />
						<td th:text="${extra.getNetworkSMS()+' SMS' }" />
						<td th:text="${extra.getInternetTraffic()+' MB' }" />
						<td><span th:if="${extra.getExtra_ChargesType() == 1 }">Premium</span>
							<span th:unless="${extra.getExtra_ChargesType() == 1 }">Standard</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>