<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Extra Chargeses</title>
<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/table/clients">All Clients</a></li>
				<li><a href="/table/subscriptions">Subscription</a></li>
				<li class="active"><a href="/table/extra_charges">Extra
						Charges</a></li>

			</ul>
		</div>
	</header>

	<div class="border">
		<div>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Network Call</th>
						<th>Network SMS</th>
						<th>Call</th>
						<th>SMS</th>
						<th>Internet Traffic</th>
						<th>Extra Charges Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="extra: ${extra_charges}">
						<td th:text="${extra.getID() }" />
						<td th:text="${extra.getNetworkCall() }" />
						<td th:text="${extra.getNetworkSMS() }" />
						<td th:text="${extra.getCall() }" />
						<td th:text="${extra.getSMS() }" />
						<td th:text="${extra.getInternetTraffic() }" />
						<td><span th:if="${extra.getExtra_ChargesType() == 1 }">Premium</span>
							<span th:unless="${extra.getExtra_ChargesType() == 1 }">Standard</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>