<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>History Message</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="header">
		<div role="navigation" class="wrapper">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" class="navbar-brand">Home</a></li>
				
				<li><a href="#">Servicies</a>
					<ul class="ul-inside">
						<li><a href="/table/clients">All Clients</a></li>
						<li><a href="/table/subscriptions">Subscription</a></li>
						<li><a href="/table/extra_charges">Extra Charges</a></li>
					</ul>
				</li>
				<li><a href="/simulate">Simulate Charger</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header >

	<div class="border">
		<div>
			<table class="table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Client Id</th>
						<th>Sent Message</th>
						<th>Receive Message</th>
						<th>Nr Of Sms</th>
						<th>Date Message Sent</th>
						<th>Sms Type</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sms : ${allSms}">
						<td th:text="${sms.getID() }" />
						<td th:text="${sms.getClientId() }" />
						<td th:text="${sms.getSentSms() }" />
						<td th:text="${sms.getReceiveSms() }" />
						<td th:text="${sms.getNrOfSms() }" />
						<td th:text="${sms.getDateSmsSent() }" />
						<td th:text="${sms.getSmsType() }"/>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>