<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Home</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="home-header">
		<div role="navigation">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" class="navbar-brand">Home</a></li>
				<li><a href="/table/clients">All Clients</a></li>
				<li><a href="/table/subscriptions">Subscription</a></li>
				<li><a href="/table/extra_charges">Extra Charges</a></li>

			</ul>
		</div>
		<p>Welcome to our page</p>
	</header>

</body>
</html>