<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Modify Client</title>
</head>
<body>

<form th:action="@{/table/clients}">

  <label for="id">Id:</label><br>
  <input type="text" th:value="${client.getID() }"><br>
  
  <label for="name">Name:</label><br>
  <input type="text" th:value="${client.getName() }"><br>
  
  <label for="address">Address:</label><br>
  <input type="text" th:value="${client.getAddress() }"><br>
  
  <label for="phone">Phone:</label><br>
  <input type="text" th:value="${client.getPhone() }"><br>
  
  <label for="balance">Balance:</label><br>
  <input type="text" th:value="${client.getBalance() }"><br>
  
  <label for="subscription_type">Subscription Type:</label><br>
  <input type="text" th:value="${client.getSubscriptionType() }"><br>
  
  <label for="extra_charges_type">Extra Charges Type:</label><br>
  <input type="text" th:value="${client.getExtra_ChargesType() }"><br>
  
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
