<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Modify Client</title>
</head>
<body>

<form th:action="@{/modify/client}" th:object="${client}" method="POST">

  <label for="id">Id:</label><br>
  <input type="text" th:value="${client.getID() }" th:field="*{ID}"><br>
  
  <label for="name">Name:</label><br>
  <input type="text" th:value="${client.getName() } " th:field="*{Name}"
  	pattern="[a-zA-Z\ ]{3,20}"
  	title="Name must be between 3 and 20 characters in length and contain only letters"
  	required
  ><br>
  
  <label for="address">Address:</label><br>
  <input type="text" th:value="${client.getAddress() }" th:field="*{Address}"
  	pattern="[a-zA-Z\d\.]{3,50}"
  	title="Address must be between 3 and 50 characters length and contain only letters, digits and period (.)"
  	required
  ><br>
  
  <label for="phone">Phone:</label><br>
  <input type="text" th:value="${client.getPhone() }" th:field="*{Phone}"
  	pattern="[\d]{10,12}"
  	title="Phone must be between 10 and 12 digits and contain 10 digits."
  	required
  ><br>
  
  <label for="balance">Balance:</label><br>
  <input type="text" th:value="${client.getBalance() }" th:field="*{Balance}"
  	pattern="[\d\.]{1,7}"
  	title="Balance must contain only digits and period if need it and a max of 7 digits."
  	required
  ><br>
  
  <label for="subscription_type">Subscription Type:</label><br>
  <input type="radio" th:value="2" th:text="Standard" th:field="*{SubscriptionType}"><br>
  <input type="radio" th:value="1" th:text="Premium" th:field="*{SubscriptionType}"><br>
  
  <label for="extra_charges_type">Extra Charges Type:</label><br>

  <input type="radio" th:value="2" th:text="Standard" th:field="*{ExtraChargesType}"><br>
  <input type="radio" th:value="1" th:text="Premium" th:field="*{ExtraChargesType}"><br>
  
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
