<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Simulation Phone</title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<div role="navigation" class="wrapper">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" class="navbar-brand">Home</a></li>
				
				<li><a href="#">Servicies</a>
					<ul class="ul-inside">
						<li><a href="/table/clients">All Clients</a></li>
						<li><a href="/table/subscriptions">Subscription</a></li>
						<li><a href="/table/extra_charges">Extra Charges</a></li>
						<li><a href="/table/cdr">CDR</a></li>
					</ul>
				</li>
				<li><a href="/simulate">Simulate Charger</a></li>
				<li><a href="/invoice">Invoice</a></li>
				<li><a href="/cronos">Cronos</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	<p class="message">This is simulation for phone call.</p>
	<a href="/history/calls" class="historyCallsMessage">History Calls</a><br><br>
	
	<form action="#" th:action=@{/simulate/phone-call} th:object="${client}" method="post">
		
		<label class="labelPhoneCall">Make call from: </label>
		<select class="select-first" th:field="*{Phone}">
			<option th:each="cl : ${clients }" th:value="${cl.getPhone() }" th:text="${cl.getPhone() }">
		</select>
		
		<label class="labelAddMinutes">Add minutes to call: </label>
		<input type="text" th:field="*{callHistory.callMinutes}" 
			pattern="[\d]{1,5}"
			title="Minutes must contain only digits and a max of 5 digits length"
			required
		/>
		
		<label class="labelPhoneCallMessageTo">To: </label>
		<select class="select-second" th:field="*{Phone}">
			<option th:each="cl : ${clients }" th:value="${cl.getPhone() }" th:text="${cl.getPhone() }">
		</select><br>
		
		<button type="submit"><img class="buttonImage" /></button>
	</form>
	
	<div class="dialNumber"></div>
</body>
</html>