<!DOCTYPE html >
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Subscriptons</title>
<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div role="navigation" class="wrapper">
			<ul class="nav navbar-nav">
				<li><a href="/" class="navbar-brand">Home</a></li>
				
				<li class="active" ><a href="#">Servicies</a>
					<ul class="ul-inside">
						<li><a href="/table/clients">All Clients</a></li>
						<li><a href="/table/subscriptions">Subscription</a></li>
						<li><a href="/table/extra_charges">Extra Charges</a></li>
						<li><a href="/table/cdr">CDR</a></li>
					</ul>
				</li>
				<li><a href="/simulate">Simulate Charger</a></li>
				<li><a href="/invoice">Invoice</a></li>
				<li><a href="/cronos">Cronos</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>

	<div class="border">
		<div>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						
						<th>Minutes Included</th>
						<th>SMS Included</th>
						<th>Network Minutes Included</th>
						<th>Network SMS Included</th>						
						<th>Traffic Included</th>
						<th>Subscription Type</th>
						<th>Monthly Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sub: ${subscriptions}">
						<td th:text="${sub.getID() }" />
						<td th:text="${sub.getMinutesIncluded()+' min' }" />
						<td th:text="${sub.getSMSIncluded()+' SMS' }" />					
						<td th:text="${sub.getNetworkMinutesIncluded()+' min' }" />
						<td th:text="${sub.getNetworkSMSIncluded()+' SMS' }" />
						<td th:text="${sub.getTrafficIncluded()+' MB' }" />
						<td><span th:if="${sub.getSubscriptionType() == 1 }">Premium</span>
							<span th:unless="${sub.getSubscriptionType() == 1 }">Standard</span>
						</td>
						<td th:text="${sub.getMonthlyCost()+' $' }" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</body>
</html>